<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Bookings</h1>
    <nav>
        <a th:href="@{/customers}">Customers</a>
        <a th:href="@{/bookings}">Bookings</a>
        <a th:href="@{/rooms}">Rooms</a>
        <a th:href="@{/services}">Services</a>
    </nav>    
    <!-- List of bookings -->
    <table border="1">
        <tr>
            <th>Booking ID</th>
            <th>Customer Information</th>
            <th>Room Information</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.id}">Booking ID</td>
            <td th:text="${booking.customerid}">Customer Information</td>
            <td th:text="${booking.roomid}">Room Information</td>
            <td th:text="${booking.startDate}">Start Date</td>
            <td th:text="${booking.endDate}">End Date</td>
        </tr>
    </table>
    <!-- Ability to add bookings -->
    <form action="#" th:action="@{/bookings/add}" th:object="${booking}" method="post">
        <table>
            <tr>
                <td>Customer ID:</td>
                <td><input type="text" th:field="*{customerid}" /></td>
            </tr>
            <tr>
                <td>Room ID:</td>
                <td><input type="text" th:field="*{roomid}" /></td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td><input type="text" th:field="*{startDate}" /></td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input type="text" th:field="*{endDate}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
