<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Customers</h1>
    <div>
        <a th:href="@{/customers}">Customers</a>
        <a th:href="@{/bookings}">Bookings</a>
        <a th:href="@{/rooms}">Rooms</a>
        <a th:href="@{/services}">Services</a>
    </div>
    <!-- List of customers -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">ID</td>
            <td th:text="${customer.name}">Full Name</td>
            <td th:text="${customer.email}">Email</td>
            <td th:text="${customer.phone}">Phone</td>
        </tr>
    </table>
    <!-- Ability to add customers -->
    <form action="#" th:action="@{/customers/add}" th:object="${customer}" method="post">
        <table>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" th:field="*{phone}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Add Customer</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
